<h1>Moving Angular component from one parent component to another</h1>
<p>
  This plunk demonstrates how to detach an Angular component from one parent component
  and attach it to another. With this approach, the
  <a href="https://angular.io/api/core/OnDestroy">ngOnDestroy</a> method of the
  child component is only called by Angular when the parent that the child is currently
  attached to is destroyed.
</p>
<div class="demo">
  <div class="col">
    <app-container name="Container 1" *ngIf="containerOneEnabled"></app-container>
  </div>
  <div class="col">
    <app-container name="Container 2" *ngIf="containerTwoEnabled"></app-container>
  </div>
</div>
<ol>
  <li>Open browser console to monitor log statements.</li>
  <li><button (click)="moveChildFromFirst()">Move Child</button></li>
  <li><button (click)="moveChildFromSecond()">Move Child from second</button></li>
  <li>
    <button (click)="destroyContainerOne()">Destroy Container 1</button>
    Note in console that only container 1 was destroyed, there is no log
    statement from the child component that it was destroyed.
  </li>
  <li>
    <button (click)="destroyContainerTwo()">Destroy Container 2</button>
    Now we get a log statement in the console from both container 2
    <b> and from the child component</b>.
  </li>
  <li>Refresh Plunker to do it again :)</li>
</ol>
